APP_URL=http://localhost:5173
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=fruit-td
ADMIN_STEAM_ID=
CORS_ORIGINS=http://localhost:5173,https://fruit-td.vercel.app
SESSION_SECRET=
STEAM_API_KEY=
RESEND_API_KEY=
EMAIL_FROM=Fruit TD <onboarding@resend.dev>
PORT=3001
